
.g {
  // ..
  pointer-events: all;
}

.node {
  font: 300 11px "Helvetica Neue", Helvetica, Arial, sans-serif;
  fill: #bbb;
}

.node:hover {
  fill: #000;
}

.link {
  stroke: steelblue;
  stroke-opacity: .4;
  fill: none;
}

.penaltyShootout.link--win,
.penaltyShootout.link--loss,
.penaltyShootout.link--draw{
   stroke-dasharray: 1, 2
}

.extraTime.link--win,
.extraTime.link--loss,
.extraTime.link--draw{
   stroke-dasharray: 10, 2
}


.link2 {
  stroke: red;
  stroke-opacity: .4;
  fill: none;
}

.node:hover,
.node--source,
.node--target {
  fill: #000;
  font-weight: 700;
}


.link--win,
.link--loss,
.link--draw {
  stroke-opacity: 1;
  stroke-width: 2px;
}

.link--win {
  stroke: #d62728;
}

.link--loss {
  stroke: #2ca02c;
}

.link--draw {
  stroke: #FFA500;
}

.legend rect {
  fill:white;
  stroke:black;
  opacity:0.8;}