h1 {
  font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
  font-size: 24px;
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
  line-height: 26.4px;
}

text{
  font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
}

.g {
  // ..
  pointer-events: all;
}

.node {
  font: 300 11px "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
  fill: #B0C4DE;
}

.node:hover {
  fill: #000;
}

.node.node--target {
  font-weight: bold;
  fill: #808080;
}

.link {
  stroke: steelblue;
  stroke-opacity: .4;
  fill: none;
}

.penaltyShootout.link--win,
.penaltyShootout.link--loss,
.penaltyShootout.link--draw{
   stroke-dasharray: 1, 2
}

.extraTime.link--win,
.extraTime.link--loss,
.extraTime.link--draw{
   stroke-dasharray: 10, 2
}


.link2 {
  stroke: red;
  stroke-opacity: .4;
  fill: none;
}

.node:hover,
.node--source,
.node--target {
  fill: #000;
  font-weight: 700;
}


.link--win,
.link--loss,
.link--draw {
  stroke-opacity: 1;
  stroke-width: 2px;
}

.link--win {
  stroke: #d62728;
}

.link--loss {
  stroke: #2ca02c;
}

.link--draw {
  stroke: #FFA500;
}
